<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>FTP Server</title>
  <link rel="icon" href="http://<%= ip %>:3100/assets/?loc=img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="http://<%= ip %>:3100/assets/?loc=css/bootstrap.min.css">
  <link rel="stylesheet" href="http://<%= ip %>:3100/assets/?loc=css/mdb.min.css">
  <link rel="stylesheet" href="http://<%= ip %>:3100/assets/?loc=css/style.css">
  <link href="http://<%= ip %>:3100/assets/?loc=css/addons/datatables.min.css" rel="stylesheet">
</head>

<script>
var count = <%= count %>
var view = <%= nView %>
window.onload=function() {
   document.getElementById("view").onclick=function() {
     document.getElementById("myForm").submit();
     return false;
   }
   document.getElementById("preview").onclick=function() {
     if(view == 1){
       document.getElementById("myPreviewForm").submit();
       return false;
     } else {
        alert('Preview mode is only available on icon view!')
     }
   }
 }

function search(id) {
  var searchValue = document.getElementById(id).value.toLowerCase()
  document.getElementById("hiddenSearch").value = searchValue
  for(var i = 0; i < count; i++){
    var currentValue = document.getElementsByName("key"+i)[0].value.toLowerCase()
    //console.log(currentValue);
    if(currentValue.includes(searchValue)){
      document.getElementById("key"+i).style.display = "block";
    }
    else{
      document.getElementById("key"+i).style.display = "none";
    }
  }
}
</script>
<style>
  body {
    height: 100%;
    background-color: #252525;
  }
  .animated{
    animation-duration: 7s;
  }
  a{
    color: #6c757d !important;
  }
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
  background-color: #252525 !important;
  border-bottom: 3px solid #6c757d;
}
.navbar a:hover {
  border-bottom: 3px solid #6c757d;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.cust-nav{
  -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.12) !important;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.12) !important;
  margin-bottom: 0 !important;
  padding-left: 18px !important;
}
.cust-nav a{
  font-size: 17px;
}
custom p{
  color: #6c757d !important;
}
files{
  padding-left: 18px !important;
}
files a:hover{
  color: #fb3 !important;
}
/*custom p{
  padding-left: 18px !important;
  margin-top: 15px !important;
}*/
.custom-switch{
  padding-top: 10px !important;
  color: #6c757d !important;
  font-size: 17px !important;
}
.active-yellow-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fb3;
  box-shadow: 0 1px 0 0 #fb3;
}
.active-yellow-2{
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  padding-left: 5px;
}
iframe{
  background-color: white !important;
}
img{
  /*pointer-events: none;*/
}
@media print {
    html, body {
       /*display: none;  /* hide whole page */
    }
}
</style>
<header>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark top lighten-1">
  <a class="navbar-brand" href="#"><strong>FTP Server</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home
        </a>
      </li>
      <li class="nav-item">
        <% if(preview == "on") { %>
          <a class="nav-link" id="preview" href="#">Turn off preview</a>
        <% } else { %>
          <a class="nav-link" id="preview" href="#">Turn on preview</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if(view == "icon") { %>
          <a class="nav-link" id="view" href="#">List View</a>
        <% } else { %>
          <a class="nav-link" id="view" href="#">Icon View</a>
        <% } %>
      </li>
      <% if(superUser == "true") { %>
      <li class="nav-item">
          <a class="nav-link" href="http://<%= ip %>:3100/logs">Logs</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="http://<%= ip %>:3100/setPerm">Set Permissions</a>
      </li> -->
      <% } %>
      <div class="form-inline d-flex justify-content md-form form-sm active-yellow-2">
        <input class="form-control form-control-sm mr-3 w-75" id="searchb" value="" type="text" placeholder="Search" aria-label="Search" oninput="search(this.id)" autofocus>
        <i class="fas fa-search" aria-hidden="true"></i>
      </div>
    </ul>
    <% if(loggedIn == "true") { %>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="http://<%= ip %>:3100/logout">Logout</a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>
<nav class="mb-1 cust-nav navbar-expand-lg navbar-dark lighten-1">
    <div style="width:100vw !important;word-wrap: break-word;">
      <custom><p class="navbar-brand" style="word-wrap: break-word;">Directory : <% for (var i = 0; i < path.length; i++) { %><% var href = "" %><% for (var j = 0; j <= i; j++) { %><% if(path[j] != 'Home') href += "/" + path[j]  %><% } %> /<a href='http://<%= baseURL %><%= href %>'><%= path[i] %></a> <% } %></p></custom>
    </div>
</nav>
</header>

<body>
<% if(view == "list") { %>
  <div style="">
    <div class="flex-column">
      <% if (success == "Success") { %>
        <% for (var i = 0; i < count; i++) { %>
          <p id="key<%= i %>" ><input type="hidden" name="key<%= i %>" value="<%= data[0]['key'+i] %>"><files><a href="http://<%= baseURL %><%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" onclick="redirect(this.id)" id="<%= i %>"><%= data[0]['key'+i] %></a></files></p>
        <% } %>
      <% } %>
    </div>
  </div>
<% } %>
<% if(view == "icon") { %>
  <div class="container">
    <div class="row">
      <% if (success == "Success") { %>
        <% for (var i = 0; i < count; i++) { %>
          <div class="col-md-4" id="key<%= i %>" style="border-top:0px;border-bottom:0px;border-right:0px;border-style: outset;border-color: #252525;word-wrap: break-word;">
            <input type="hidden" name="key<%= i %>" value="<%= data[0]['key'+i] %>">
          <p>
            <files>
              <a href="http://<%= baseURL %><%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>">
                <center>
                  <% var done = 0; %>
                  <% if (data[0]['isDir'+i] == "true") { %>
                    <img src="http://<%= ip %>:3100/assets/?loc=img/svg/504729.svg" alt="Folder" width=200 height=200/>
                  <% } else { %>
                    <% if (data[0]['ext'+i] == ".apk") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/337946.svg" alt="APK" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".pdf") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/337946.svg" alt="Pdf" width=200 height=200/><% done = 1 %>
                      <% } else { %>
                        <!--<embed src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" width="800px" height="2100px" />--><% done = 1 %>
                        <object data="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="application/pdf" width="200" height="200">
                        </object>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".java" ) { %>
                      <!--<img src="http://<%= ip %>:3100/assets/?loc=img/svg/java.svg" alt="Java" width=200 height=200/> <% done = 1 %>-->
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/java.svg" alt="Java" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <!--<embed src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" width="800px" height="2100px" />--><% done = 1 %>
                        <iframe name="nameOfIFrame" style="color: white !important;" src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="application/text" width="200" height="200">
                        </iframe>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".class") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/class.png" alt="Class" width=150 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".c") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/png/c.png" alt="C" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <!--<embed src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" width="800px" height="2100px" />--><% done = 1 %>
                        <iframe name="nameOfIFrame" style="color: white !important;" src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="application/text" width="200" height="200">
                        </iframe>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".cpp") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/png/cpp1.png" alt="CPP" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <!--<embed src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" width="800px" height="2100px" />--><% done = 1 %>
                        <iframe name="nameOfIFrame" style="color: white !important;" src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="application/text" width="200" height="200">
                        </iframe>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".csv") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/csv.png" alt="Csv" width=150 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".r") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/r.png" alt="R" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".css") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/css.svg" alt="Css" width=150 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".xls" || data[0]['ext'+i] == ".xlsx") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/excel.svg" alt="Excel" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".jar") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/jar.svg" alt="Jar" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".jpg") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/jpg.svg" alt="Jpg" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <img src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" alt="Jpg" width=200 height=200/> <% done = 1 %>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".js") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/js.svg" alt="Js" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".jpeg") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/jpeg.svg" alt="Jpeg" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <img src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" alt="Jpeg" width=200 height=200/> <% done = 1 %>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".json") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/json.svg" alt="Json" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".html") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/html.svg" alt="Html" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".mp3") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/mp3.svg" alt="Mp3" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <audio controls>
                          <source src="http://<%= ip %>:3100/preview?file=/Home<%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="audio/mp3"> <% done = 1 %>
                        </audio>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".php") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/php.svg" alt="Php" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".png") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/png.svg" alt="Png" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <img src="http://<%= baseURL %><%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" alt="Png" width=250 height=200/> <% done = 1 %>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".ppt" || data[0]['ext'+i] == ".pptx") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/ppt.svg" alt="Php" width=175 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".docx" || data[0]['ext'+i] == ".doc") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/word.svg" alt="Php" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".pages") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/pages.png" alt="Pages" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".numbers") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/numbers.png" alt="Numbers" width=170 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".key") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/keynote1.png" alt="Keynote" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".py") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/python.svg" alt="Python" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".txt") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/txt.svg" alt="Txt" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".xml") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/xml.svg" alt="Xml" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".zip" || data[0]['ext'+i] == ".rar") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/zip.svg" alt="Zip" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".svg") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/svg.svg" alt="Svg" width=170 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".alias") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/svg.svg" alt="Svg" width=200 height=200/> <% done = 1 %>
                    <% }  else if (data[0]['ext'+i] == ".3gp") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/3gp.svg" alt="3gp" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".7z") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/7z.svg" alt="7z" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".avi") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/avi.svg" alt="Avi" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".dvd") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/dvd.svg" alt="Dvd" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".flv") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/flv.svg" alt="Flv" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".gif") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/gif.svg" alt="Gif" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".gz") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/htm.svg" alt="Htm" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".mkv") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/mkv.svg" alt="Mkv" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/mkv.svg" alt="Mkv" width=200 height=200/> <% done = 1 %>
                        <!--<video width="300" height="200" controls>
                          <source src="http://<%= baseURL %><%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="video/mp4">
                        </video><% done = 1 %>-->
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".mov") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/mov.svg" alt="Mov" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".mp4") { %>
                      <% if(preview == "off"){ %>
                        <img src="http://<%= ip %>:3100/assets/?loc=img/svg/mp4.svg" alt="Mp4" width=200 height=200/> <% done = 1 %>
                      <% } else { %>
                        <video width="300" height="200" controls>
                          <source src="http://<%= baseURL %><%= data[0]['rurl'+i] %>/<%= data[0]['key'+i] %>" type="video/mp4">
                        </video><% done = 1 %>
                      <% } %>
                    <% } else if (data[0]['ext'+i] == ".sql") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/sql.svg" alt="Svg" width=200 height=200/> <% done = 1 %>
                    <% } else if (data[0]['ext'+i] == ".ttf" || data[0]['ext'+i] == ".woff" || data[0]['ext'+i] == ".woff2") { %>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/svg/font.svg" alt="Font" width=200 height=200/> <% done = 1 %>
                    <% } %>
                    <% if(done == 0) {%>
                      <img src="http://<%= ip %>:3100/assets/?loc=img/png/unknown.png" alt="Unknown" width=200 height=200/>
                    <% } %>
                  <% } %><br><br>
                  <center style="color: #6c757d !important;">
                    <%= data[0]['key'+i] %>
                  </center>
                </center>
              </a>
            </files>
          </p>
        </div>
        <% } %>
      <% } %>
    </div>
  </div>
<% } %>
<input type="hidden" id="hiddenSearch" name="search" value="">
<form action="http://<%= ip %>:3100/changeView" method="post" id="myForm">
  <% if(view == "icon") { %>
    <input type="hidden" name="view" value="list">
  <% } else { %>
    <input type="hidden" name="view" value="icon">
  <% } %>
</form>
<form action="http://<%= ip %>:3100/changePreview" method="post" id="myPreviewForm">
  <% if(preview == "on") { %>
    <input type="hidden" name="preview" value="off">
  <% } else { %>
    <input type="hidden" name="preview" value="on">
  <% } %>
</form>
  <script type="text/javascript" src="http://<%= ip %>:3100/assets/?loc=js/jquery.min.js"></script>
  <script type="text/javascript" src="http://<%= ip %>:3100/assets/?loc=js/popper.min.js"></script>
  <script type="text/javascript" src="http://<%= ip %>:3100/assets/?loc=js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://<%= ip %>:3100/assets/?loc=js/mdb.min.js"></script>
  <script type="text/javascript"></script>
  <script type="text/javascript" src="http://<%= ip %>:3100/assets/?loc=js/addons/datatables.min.js"></script>
  <script type="text/javascript">
    $('#popoverData').popover();
  </script>
</body>
</html>


<!--<%= data[0]['key'+i] %>-->
